.DS_Store
node_modules
build
/cordova
secrets
public/
buildnbr.txt
njdev2.pem
src/client/*.js
tests/client/*.js
*.log
.tmp
*.swp
/nbproject/private/
logs/*
stt_configs
config.json
stt_configs.json
nbproject/
