<div id="contactListCard" class="card">
   <div class="container-fluid ">
      <table id="contacts-table">
         <thead>
            <tr id="contacts-head" style="display: none">
               <th>Favorite</th>
               <th>Name</th>
               <th>Picture</th>
            </tr>
         </thead>
         <tbody id="contactListTbody"></tbody>
      </table>
	  <div>
		<button class="callButtonNav">
			<img class="callButtonImg" id="callButtonImg_contact" src="pic/dial.png">
		</button>
	  </div>
   </div>
</div>
