  
<div id="popUpMain" class="popup card">
 
  <div class="popup-content">
      <div id="popUpClose">&times;</div>

      <form  >
        <div>
          <h3>Contact Information</h3>
		  <div> 

          <label for="firstNameForm">First Name:</label>
          <input type="text" id="firstNameForm" placeholder="First Name">
		  </div>
		  
		  <div>
		  <label for="lastNameForm" >Last Name:</label>
          <input type="text" id="lastNameForm" placeholder="Last Name">
		  </div>
		  
		  <div>
          <label for="usernameForm" >Username:</label>
          <input type="text" id="usernameForm" placeholder="Username">
		  </div>
		  
		  <div>
          <label for="mobileForm">Mobile Number:</label>
          <input type="text" id="mobileForm"  placeholder="Mobile">
		  </div>
		  
		  <div>
		  <label for="workForm">Work Number:</label>
          <input type="text" id="workForm"  placeholder="Work">    
		  </div>
		  
		  <div>
		  <label for="homeForm">Home Number:</label>
          <input type="text" id="homeForm"  placeholder="Home">
		  </div>
		  
		  <div>
		  <label for="favoriteForm">Favorite:</label>
          <input type="checkbox" id="favoriteForm">
		  </div>

          <input type="button" id="buttonPopupSubmit" value="Submit">
        </div>
      </form>
    </div>
</div>
