<div id="contactDetailCard" class="card">
    <div class="container-fluid" style="position:center;">
        <div id="profileimage" class="text-center">
            <img src="pic/anon.png" class="text-center profileImage" />
        </div>
    </div>
    <div class="text-center body-size-font">
		<div id="cdFirstName"></div>First Name
    </div><br>
	<div class="text-center body-size-font">
		<div id="cdLastName"></div>Last Name
    </div><br>
    <div class="text-center body-size-font">
		<div id="cdUsername"></div>Username
    </div><br>
    <div class="text-center body-size-font">
		<div id="cdMobile"></div>Mobile Number
    </div><br>
    <div class="text-center body-size-font">
		<div id="cdWork"></div>Work Number
    </div><br>
	<div class="text-center body-size-font">
		<div id="cdHome"></div>Home Number
    </div><br>
	<div class="text-center body-size-font">
		<input type="checkbox" id="cdFavorite">Favorite
    </div><br>

	<button id="button_popUp" class="button-size-font">Edit Contact</button>
    <% include contactPopUp.ejs %>

</div>
