<div id="historyCard" class="card">
   <div id="swipeHistory" class="container-fluid ">
      <table id="history-table">
         <thead>
            <tr id="history-head" style="display: none">
               <th>Name</th>
               <th>Date</th>
               <th>Snippet</th>
            </tr>
         </thead>
         <tbody></tbody>
      </table>
	  <button class="callButtonNav">
		<img class="callButtonImg" id="callButtonImg_history" src="pic/dial.png">
	  </button>
   </div>
</div>
