<div id="historyDetailCard" class="card">
    <div class="container-fluid" style="position:center;">
        <div id="histProfileImage" class="text-center">
            <img src="pic/anon.png" class="profileImage text-center" />
        </div>
    </div>
	<div >
		<p id="histTimeStamp" class="text-center body-size-font"> DATE/TIME?</p>
	</div>
    <div class="col-md-4 " id="historyCaptions">
              
		<div id="histTranscriptBox" class="body-size-font">
		</div>

    </div>
	<button id="histBackButton" class="button-size-font">Back</button>

</div>
