<div id="mainCard" class="card">
  <div class="jumbotron">
	 <h1>ACE Quill</h1>
  </div>
      <div class="text-center">
         <p style="text-align: center"><strong>ABOUT</strong><br>
         ACE Quill is an IP Captioned Telephony Service (CTS) demonstration developed for the US FCC in order to compare different speech to text services and to test hard of hearing user preferences.</p>
      </div>
</div>
